<ion-header>
  <ion-toolbar>
    <ion-title> Início </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="isLoading" lines="none" style="text-align: center">
    <ion-label>
      <ion-spinner
        name="circular"
        style="width: 32px; height: 32px"
      ></ion-spinner>
    </ion-label>
  </ion-item>
  <section class="container" *ngIf="!isLoading">
    <div style="text-align: center">
      <ion-label>
        <ion-text>
          <h1>
            Boas-vindas à StockTrack, seu sistema de gerenciamento de
            almoxarifados
          </h1>
        </ion-text>
      </ion-label>
      <br />
      <br />
      <ion-label *ngIf="!solicitations?.length"
        >Nenhuma solicitação a ser exibida.</ion-label
      >
      <div *ngIf="solicitations?.length">
        <ion-label
          >Exibindo {{ solicitations.length }} solicitaç{{ solicitations.length
          == 1 ? 'ão' : 'ões' }}</ion-label
        >
        <br />
        <swiper-container
          slides-per-view="3.5"
          space-between="10"
          pagination="false"
          navigation="false"
          class="prd-swiper"
        >
          <!-- <swiper-container [slides-per-view]="slideSize"> -->
          <swiper-slide
            class="slide"
            *ngFor="let sol of solicitations; let j = index"
          >
            <ion-card>
              <ion-card-header>
                <ion-title>Solicitação #{{ sol.id }}</ion-title>
              </ion-card-header>
              <ion-card-content>
                <ion-label>
                  <small>{{ sol.description }}</small>
                </ion-label>
                <br />
                <ion-label>
                  <p>
                    {{ sol.items.length }} ite{{ sol.items.length === 1 ? 'm' :
                    'ns' }}.
                  </p>
                  <p>Clique para detalhes ></p>
                </ion-label>
                <br />
                <ion-label [color]="resolveStatusColor(sol.status)">{{ sol.status }}</ion-label>
              </ion-card-content>
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </div>

      <div>
        <ion-button
          color="dark"
          size="small"
          fill="clear"
          (click)="GoToMaterials()"
        >
        <ion-label>VER MATERIAIS DISPONÍVEIS</ion-label>
        <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </section>
</ion-content>
