<ion-header>
  <ion-breadcrumbs [maxItems]="4">
    <ion-breadcrumb>Home</ion-breadcrumb>
  </ion-breadcrumbs>
  <ion-toolbar>
    <ion-title> Início </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onReload()">
        <ion-icon
          slot="icon-only"
          name="reload-outline"
          style="--color: var(--ion-color-dark)"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="isLoading" lines="none" style="text-align: center">
    <ion-label>
      <ion-spinner
        name="circular"
        style="width: 32px; height: 32px"
      ></ion-spinner>
    </ion-label>
  </ion-item>
  <section class="container" *ngIf="!isLoading">
    <div style="text-align: center">
      <ion-label>
        <ion-text>
          <h1>
            Boas-vindas à StockTrack, seu sistema de gerenciamento de
            almoxarifados
          </h1>
        </ion-text>
      </ion-label>
      <br />
      <br />
      <ion-label *ngIf="loadingSwiper">
        <p>Carregando solicitações</p>
        <ion-spinner name="crescent"></ion-spinner>
      </ion-label>
      <ion-label *ngIf="!solicitations?.length && !loadingSwiper"
        >Nenhuma solicitação a ser exibida.</ion-label
      >
      <div *ngIf="solicitations?.length && !loadingSwiper">
        <ion-label *ngIf="!loadingSwiper"
          >Exibindo {{ solicitations.length }} solicitaç{{ solicitations.length
          == 1 ? 'ão' : 'ões' }}</ion-label
        >
        <br />
        <swiper-container
          *ngIf="!loadingSwiper"
          slides-per-view="3.5"
          space-between="10"
          pagination="false"
          navigation="false"
          class="prd-swiper"
        >
          <!-- <swiper-container [slides-per-view]="slideSize"> -->
          <swiper-slide
            class="slide"
            *ngFor="let sol of solicitations; let j = index"
          >
            <ion-card
              id="solicitation-card"
              (click)="ModalViewSolicitation.onOpenModal(sol)"
              button
            >
              <ion-card-header>
                <ion-title>Solicitação #{{ sol.id }}</ion-title>
              </ion-card-header>
              <ion-card-content>
                <div>
                  <ion-label>
                    <b>Solicitado por:</b> {{ sol.userInstitution.userName }}
                  </ion-label>
                  <br />
                  <ion-label class="description">
                    <b>Descrição:</b> {{ sol.description || 'Sem descrição' }}
                  </ion-label>
                  <ion-label>
                    <b>Data da solicitação:</b>
                    {{ sol.solicitedAt | date: 'dd/MM/yyyy' }}
                  </ion-label>
                  <br />
                  <div style="margin-top: 8px">
                    <ion-label *ngFor="let item of sol.items">
                      <p>{{ item.quantity }}x {{ item.materialName }}</p>
                    </ion-label>
                  </div>
                </div>
              </ion-card-content>
              <div class="card-footer">
                <ion-label>
                  <b>Retorno previsto:</b>
                  {{ sol.expectReturnAt | date: 'dd/MM/yyyy' }}
                </ion-label>
                <br />
                <ion-label [color]="resolveStatusColor(sol.status)">
                  {{ 'solicitationStatus.' +
                  (sol.status.toString() | uppercase) | translate }}
                </ion-label>
              </div>
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </div>

      <div>
        <ion-button
          color="dark"
          size="small"
          fill="clear"
          (click)="GoToMaterials()"
        >
          <ion-label>VER MATERIAIS DISPONÍVEIS</ion-label>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </section>

  <app-view-solicitation #ModalViewSolicitation (updated)="onReload()"></app-view-solicitation>
</ion-content>
