<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-toolbar>
        <ion-title style="text-align: center;"> Últimas movimentações </ion-title>
      </ion-toolbar>
      <ion-grid *ngIf="!isLoading">
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title> Entrada </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item>
                    <ion-label> Produto </ion-label>
                    <ion-label slot="end"> Quantidade </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label> Produto </ion-label>
                    <ion-label slot="end"> Quantidade </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label> Produto </ion-label>
                    <ion-label slot="end"> Quantidade </ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title> Saída </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item>
                    <ion-label> Produto </ion-label>
                    <ion-label slot="end"> Quantidade </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label> Produto </ion-label>
                    <ion-label slot="end"> Quantidade </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label> Produto </ion-label>
                    <ion-label slot="end"> Quantidade </ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
