ion-content {
  --background: var(--ion-color-primary);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  padding: 20px;
  max-width: 450px;
  margin-top: 124px;
}

h2 {
  text-align: center;
  color: var(--ion-color-light);
}

p {
  text-align: center;
  color: var(--ion-color-light);
}

ion-item {
  --background: var(ion-color-light-shade);
  border-radius: 0.5rem;
  color: var(--ion-color-secondary);
}

ion-button {
  --background: var(--ion-color-primary-tint);
}
