<ion-content [fullscreen]="true">
    <div class="wrapper">
      <div *ngIf="isLoading">
        <br>
        <br>
        <br>
        <br>
        <br>
        <ion-label>
          <ion-spinner name="circular"></ion-spinner>
        </ion-label>
      </div>
      <ion-card *ngIf="!isLoading">
        <ion-card-header>
          <div class="d-flex justify-content-center">
            <img src="assets/imgs/logo.png" alt="" style="width: 250px" />
          </div>
          <p>
            Informe suas credenciais para<br />acessar sua conta de forma segura
          </p>
        </ion-card-header>
        <ion-card-content class="content">
          <br />
          <form
            [formGroup]="formGroup"
            *ngIf="formGroup"
            class="ion-no-padding form"
          >
            <div class="item">
              <ion-input
                formControlName="email"
                label="E-mail"
                labelPlacement="start"
                fill="outline"
                placeholder="seu-email@email.com"
                type="email"
                class="custom"
                inputmode="email"
                shape="round"
                autocomplete="email"
                (keyup)="onKeyEvent($event.keyCode)"
                (keydown)="onKeyEvent($event.keyCode)"
                email
              ></ion-input>
            </div>
            <br />
            <div class="item">
              <ion-input
                formControlName="password"
                label="Senha"
                labelPlacement="start"
                fill="outline"
                type="password"
                class="custom"
                shape="round"
                clear-on-edit="false"
                (keyup)="onKeyEvent($event.keyCode)"
                (keydown)="onKeyEvent($event.keyCode)"
              ></ion-input>
            </div>
            <!-- <br />
            <div>
              <ion-input
                formControlName="institutionId"
                label="Instituição"
                labelPlacement="start"
                fill="outline"
                type="number"
                inputmode="numeric"
                class="custom"
                shape="round"
                maxlength="3"
                minlength="1"
                (keyup)="onKeyEvent($event.keyCode)"
                (keydown)="onKeyEvent($event.keyCode)"
              ></ion-input>
            </div> -->
            <br />
            <div class="checkbox-right">
              <ion-checkbox
                formControlName="keepIn"
                slot="end"
                labelPlacement="start"
                >Manter-me conectado</ion-checkbox
              >
            </div>
            <br />
            <ion-button
              type="submit"
              fill="solid"
              shape="round"
              expand="block"
              *ngIf="formGroup"
              [disabled]="!formGroup.valid"
              (click)="onSubmit()"
              >ACESSAR</ion-button
            >
            <div style="text-align: center">
              <ion-label class="color-white">
                Não tem registro?
                <span (click)="goToRegister()" class="redirect" button>Cadastre-se</span></ion-label
              >
              <br />
              <br />
              <ion-label
                class="color-white"
                ><small (click)="forgotPassword()" class="redirect" button>Esqueci minha senha</small></ion-label
              >
            </div>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  <!-- <pre *ngIf="isDev">{{ formGroup?.value | json }}</pre> -->
</ion-content>
