<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Locais</ion-title>
    <ion-buttons slot="end" fill="clear">
      <ion-button (click)="onAdd()">ADICIONAR</ion-button>
      <ion-button (click)="onReload()" fill="clear">
        <ion-icon name="reload-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">locais</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
