<ion-toolbar color="primary">
  <ion-buttons slot="start" style="color: var(--ion-color-light-fixed)">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>
    <div class="d-flex align-items-center justify-content-center">
      <img
        src="assets/imgs/logo-text-white.png"
        alt="Logo"
        class="img-logo"
        style="width: 150px"
      />
    </div>
  </ion-title>
  <ion-buttons slot="end" style="color: var(--ion-color-light-fixed)">
    <ion-button> 1.0.0 </ion-button>
    <ion-button (click)="onLogout()">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
