<ion-modal #ModalCart>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Seu carrinho</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="ModalCart.dismiss()">
            <ion-icon
              slot="icon-only"
              name="close-outline"
              style="--color: var(--ion-color-dark)"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      
    </ion-content>
  </ng-template>
</ion-modal>
