ion-card {
  height: 100%;
}

ion-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icons {
  width: 100px;
  height: 100px;
}
