<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Almoxarifados</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onReload()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-searchbar></ion-searchbar>
  </ion-item>
  <ion-list *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col [size]="columnSize" *ngFor="let item of warehouses">
          <ion-card (click)="goToWarehouse(item)" button>
            <ion-card-header title="{{ item.name }}">
              <ion-card-title class="card-header-content">
                <div class="card-header-text">
                  <ion-label>
                    <ion-text>#{{ item.id }} - {{ item.name }}</ion-text>
                  </ion-label>
                </div>
                <ion-buttons class="ion-no-padding">
                  <ion-button (click)="AppEditWarehouse.onOpenModal(item)">
                    <ion-icon name="create-outline"></ion-icon>
                  </ion-button>
                  <ion-button (click)="deleteWarehouse(item)">
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <img [src]="getWarehouseIcon()" alt="" class="icons" />
              <ion-label>{{ item.description }}</ion-label>
              <ion-label style="color: #FDFDFD;">
                <small>({{ item.area.name }})</small>
              </ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col [size]="columnSize">
          <ion-card (click)="AppCreateWarehouse.onOpenModal()" button>
            <ion-card-content class="add-card-content">
              <ion-icon name="add-outline" class="icons"></ion-icon> <br />
              <ion-label style="font-weight: 700"
                >Inserir almoxarifado</ion-label
              >
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <app-create-warehouse
    #AppCreateWarehouse
    (reload)="onReload()"
  ></app-create-warehouse>
  <app-edit-warehouse
    #AppEditWarehouse
    (reload)="onReload()"
  ></app-edit-warehouse>
</ion-content>
