ion-content {
  --background: var(--ion-color-primary);
}

ion-card {
  position: absolute;
  top: 46%;
  left: 49%;
  width: 92%;
  max-width: 25rem;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  background: none;
}

ion-card-header {
  background: none;
  color: var(--ion-color-light-fixed);
}

.content {
  max-width: 28.125rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

ion-input.custom {
  --background: var(--ion-color-light-shade);
  border-radius: 0.5rem;
  color: var(--ion-color-dark);
}

ion-button {
  --background: var(--ion-color-primary-tint);
  color: #ffffff;
}

.clear-borders {
  border: none !important;
  box-shadow: none !important;
}
