<ion-header *ngIf="!isMenuOpen">
  <app-header></app-header>
</ion-header>
<ion-content>
  <ion-split-pane
    contentId="main"
    when="sm"
    (ionSplitPaneVisible)="onSplitPaneVisible($event)"
  >
    <ion-menu contentId="main" type="overlay">
      <ion-content color="primary" style="height: 100%; overflow-y: hidden">
        <app-sidebar [isMenuOpen]="isMenuOpen"></app-sidebar>
      </ion-content>
      <ion-footer class="background-color">
        <ion-button
          (click)="onLogout()"
          fill="solid"
          expand="block"
          color="primary"
        >
          <ion-label style="color: var(--ion-color-light-fixed)"
            >Sair</ion-label
          >
        </ion-button>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-content>
