<ion-modal #ModalViewSolicitation>
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title>Solicitação #{{ solicitation?.id }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="ModalViewSolicitation.dismiss()">
            <ion-icon name="close" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div style="text-align: center" *ngIf="isLoading">
        <ion-label>
          <ion-spinner name="crescent"></ion-spinner>
        </ion-label>
      </div>
      <section *ngIf="!isLoading">
        <!-- Descrição da Solicitação -->
        <ion-item *ngIf="solicitation?.description">
          <ion-label>Descrição</ion-label>
          <ion-text>
            {{ solicitation?.description }}
          </ion-text>
        </ion-item>

        <!-- Itens da Solicitação -->
        <ion-card *ngIf="solicitation?.items?.length">
          <ion-card-header>
            <ion-card-title>Itens do Pedido</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <div *ngIf="solicitation">
                <ion-item
                  lines="none"
                  *ngFor="let item of solicitation.items; let j = index"
                >
                  <ion-text>
                    {{ item?.quantity }}x <b>{{ item?.materialName }}</b>
                  </ion-text>
                </ion-item>
              </div>
            </ion-list>
          </ion-card-content>
        </ion-card>

        <!-- Informações Adicionais -->
        <ion-list>
          <ion-item>
            <ion-label>Solicitado por:</ion-label>
            <ion-text>{{ solicitation?.userInstitution?.userName }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Solicitado em:</ion-label>
            <ion-text>{{
              solicitation?.solicitedAt | date : "dd/MM/yyyy"
            }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Previsão de Devolução:</ion-label>
            <ion-text>{{
              solicitation?.expectReturnAt | date : "dd/MM/yyyy"
            }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Status:</ion-label>
            <ion-text>{{
              "solicitationStatus." +
                (solicitation?.status?.toString() | uppercase) | translate
            }}</ion-text>
          </ion-item>
          <ion-item *ngIf="solicitation?.status === eSolAccept">
            <ion-label>Aceita em:</ion-label>
            <ion-text>{{
              solicitation?.approvedAt | date : "dd/MM/yyyy"
            }}</ion-text>
          </ion-item>
          <ion-item *ngIf="solicitation?.status === eSolDeclined">
            <ion-label>Recusada em:</ion-label>
            <ion-text>{{
              solicitation?.declinedAt | date : "dd/MM/yyyy"
            }}</ion-text>
          </ion-item>
          <ion-item *ngIf="solicitation?.status === eSolWithdrawn">
            <ion-label>Retirado em:</ion-label>
            <ion-text>{{
              solicitation?.borroadAt | date : "dd/MM/yyyy"
            }}</ion-text>
          </ion-item>
          <ion-item *ngIf="solicitation?.status === eSolReturned">
            <ion-label>Devolvida em:</ion-label>
            <ion-text>{{
              solicitation?.returnedAt | date : "dd/MM/yyyy"
            }}</ion-text>
          </ion-item>
        </ion-list>
      </section>
    </ion-content>

    <!-- Rodapé com Botões Condicionais -->
    <ion-footer *ngIf="payload?.role !== eUserRole">
      <ion-toolbar *ngIf="solicitation?.status === eSolWaiting">
        <ion-buttons slot="start">
          <ion-button
            color="danger"
            fill="solid"
            (click)="updateSolicitation(eSolDeclined)"
          >
            <ion-icon name="close-circle-outline" slot="start"></ion-icon>
            Recusar
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button
            color="success"
            fill="solid"
            (click)="updateSolicitation(eSolAccept)"
          >
            <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
            Aprovar
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar *ngIf="solicitation?.status === eSolAccept">
        <ion-buttons slot="end">
          <ion-button
            color="medium"
            fill="solid"
            (click)="updateSolicitation(eSolWithdrawn)"
          >
            <ion-icon
              name="arrow-forward-circle-outline"
              slot="start"
            ></ion-icon>
            Retirado
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar *ngIf="solicitation?.status === eSolWithdrawn">
        <ion-buttons slot="end">
          <ion-button
            color="tertiary"
            fill="solid"
            (click)="updateSolicitation(eSolReturned)"
          >
            <ion-icon
              name="arrow-forward-circle-outline"
              slot="start"
            ></ion-icon>
            Devolvido
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
