<ion-modal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Adicionar Almoxarifado</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <section class="wrapper" *ngIf="!isLoading">
        <form
          [formGroup]="formGroup"
          *ngIf="formGroup"
          class="ion-no-padding form"
        >
          <ion-item lines="none" color="light" class="input-name">
            <ion-input
              label="Nome"
              justify="space-between"
              formControlName="name"
              fill="outline"
              inputmode="text"
              shape="round"
              type="text"
              placeholder="Almoxarifado Informática"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item lines="none" color="light">
            <ion-select
              label="Área"
              fill="outline"
              shape="round"
              formControlName="area"
              placeholder="Qual área pertence o almoxarifado?"
            >
              <ion-select-option
                *ngFor="let area of areas"
                [value]="area.name"
                >{{ area.name }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </form>
      </section>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button
            fill="solid"
            (click)="modal.dismiss()"
            [disabled]="!formGroup?.valid"
            color="medium"
          >
            CANCELAR
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button
            fill="solid"
            (click)="onSubmit()"
            [disabled]="!formGroup?.valid"
            color="primary"
          >
            <ion-label style="color: #fdfdfd">ADICIONAR</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
