ion-list {
  background-color: var(--ion-color-primary);
}

.toggleDarkmode {
  color: white;
}

.selected {
  border-left: 2px solid var(--ion-color-light);
}

.selected ion-label {
  color: var(--ion-color-light);
}

.selected ion-icon {
  color: var(--ion-color-light);
}

.img-svg {
  width: 24px;
  height: 24px;
}