<div *ngIf="payload">
  <ion-avatar class="mx-auto user-avatar">
    <ion-img [src]="getPayloadImage()" (error)="onImgError($event)"></ion-img>
  </ion-avatar> <br />
  <ion-label class="color-white">
    <ion-text class="ion-text-center">
      <h1>
        {{ payload.name }}
      </h1>
      <h3>
        {{ payload.email }}
      </h3>
    </ion-text>
  </ion-label>
  <ion-label>
    <ion-badge class="d-flex justify-content-center ion-text-center" style="--background: var(--ion-color-light-fixed)">
      {{ institution?.name }}
    </ion-badge>
  </ion-label>
  <br>
</div>
