<ion-modal #AddArea>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Adicionar Área</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="AddArea.dismiss()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <section class="wrapper" *ngIf="!isLoading">
        <form
          [formGroup]="formGroup"
          *ngIf="formGroup"
          class="ion-no-padding form"
        >
          <ion-item lines="none" color="light" class="input-name">
            <ion-input
              label="Nome"
              labelPlacement="fixed"
              formControlName="name"
              fill="outline"
              inputmode="text"
              shape="round"
              type="text"
              placeholder="Área norte"
            ></ion-input>
          </ion-item> <br />
          <ion-item>
            <ion-textarea
              label="Descrição"
              labelPlacement="fixed"
              formControlName="description"
              fill="outline"
              inputmode="text"
              shape="round"
              type="text"
              placeholder="Conjunto de almoxarifados da área norte da instituição"
              autoGrow="true"
              maxlength="120"
              spellcheck="true"
              wrap="soft"
            ></ion-textarea>
          </ion-item>
        </form>
      </section>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button
            fill="solid"
            (click)="AddArea.dismiss()"
            [disabled]="!formGroup?.valid"
            color="medium"
          >
            CANCELAR
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button
            fill="solid"
            (click)="onSubmit()"
            [disabled]="!formGroup?.valid"
            color="primary"
          >
            <ion-label style="color: #FDFDFD;">ADICIONAR</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
