<ion-header>
  <ion-toolbar>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Últimos eventos da instituição</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item
          *ngFor="let movimentacao of movimentationsFilter | slice:0:maxItemsToShow"
        >
          <ion-label>
            <h2>{{ movimentacao.name }}</h2>
            <p>
              Evento: {{ getEvent(movimentacao.event) }} <br />
              Tipo: {{ getType(movimentacao.type) }} <br />
              Quantidade: {{ movimentacao.quantity }} <br />
              Data: {{ movimentacao.date | date:'short' }} <br />
              Movimentado por: {{ movimentacao.movimentationBy }}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
      <div
        *ngIf="movimentationsFilter?.length! > maxItemsToShow"
        class="expand-button"
      >
        <ion-button (click)="expandMovimentations()"
          ><ion-label color="light">Ver Mais +</ion-label></ion-button
        >
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
