<ion-header class="clear-borders">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="wrapper">
    <div *ngIf="isLoading">
      <br />
      <br />
      <br />
      <br />
      <br />
      <ion-label>
        <ion-spinner name="circular"></ion-spinner>
      </ion-label>
    </div>
    <ion-card *ngIf="!isLoading">
      <ion-card-header>
        <div class="d-flex justify-content-center">
          <img src="assets/imgs/logo.png" alt="" style="width: 250px" />
        </div>
        <p>Informe seu e-mail abaixo.</p>
        <p>Um link de recuperação será enviado para recuperação de senha.</p>
      </ion-card-header>
      <ion-card-content class="content">
        <br />
        <form
          [formGroup]="formGroup"
          *ngIf="formGroup"
          class="ion-no-padding form"
        >
          <div class="item">
            <ion-input
              formControlName="email"
              label="E-mail"
              labelPlacement="start"
              fill="outline"
              placeholder="seu-email@email.com"
              errorText="Insira um e-mail válido"
              type="email"
              class="custom"
              inputmode="email"
              shape="round"
              autocomplete="email"
              (keyup)="onKeyEvent($event.keyCode)"
              (keydown)="onKeyEvent($event.keyCode)"
              email
            ></ion-input>
          </div>
          <br />
          <br />
          <ion-button
            type="submit"
            fill="solid"
            shape="round"
            expand="block"
            *ngIf="formGroup"
            [disabled]="!formGroup.valid"
            (click)="onSubmit()"
            >ENVIAR</ion-button
          >
        </form>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- <pre *ngIf="isDev">{{ formGroup?.value | json }}</pre> -->
</ion-content>
